.custom-word {
    color: rgb(17, 202, 235);
    cursor: pointer;
}

.word-card {
    cursor: pointer;
}

.header-text {
    margin: 20px 10px; 
    padding: 10px; 
    background: gold; 
    border: solid 2px darkorange; 
    border-radius: 30px;
}

.card-body {
    text-align: center;
}

.song-list-img {
    border-radius: 60%;
    width: 50%;
    margin-left: 25%;
}

.main-card {
    border: orange 3px solid; 
    border-radius: 10px
}

.btn-secondary,
.btn-secondary:hover {
    background-color: white;
    color: rgb(3, 197, 197);
    border: none;
}

.custom-video-src {
    margin: auto;
}